body {
	font-family: Roboto, sans-serif;
	color: #434455;
	background-color: #FFFFFF;
}
a {
	color: #2E2F42;
	text-decoration: none;
}
.logo {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	line-height: 1.17;
	color: #4D5AE5;
}

.logo span {
	color: #2e2f42;
}
.site-nav {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.site-nav:hover {
	color: #404bbf;
}
.site-nav:focus {
	color: #404bbf;
}
.address {
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.address a {
	color: #434455;
}
.address a:hover {
	color: #404BBF;
}
.address a:focus {
	color: #404BBF;
}

.hero {
	background-color: #2E2F42;
	text-align: center;

}
.hero-header {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.hero-button {
	background-color: #4D5AE5;
	border: none;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
}

.hero-button:hover {
	background-color: #404BBF;
}
.hero-button:focus {
	background-color: #404BBF;
}

.header-feature {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.paragraph-feature {
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.team {
	background-color: #F4F4FD;
	text-align: center;
}
.team-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;

}
.team-list {
	background-color: #FFFFFF;

}
.team-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.team-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.portfolio {
	background-color: #FFFFFF;
}

.portfolio-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;
}
.portfolio-description {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.portfolio-paragraph {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

li {
	list-style: none;
}

.footer {
	background-color: #2E2F42;
}
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}
.studio {
	color: #f4f4fd;
}

.footer-paragraph {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #F4F4FD;
}